html {
	background-color: #F5F8FA;
    background: url("/Content/gray_jean.png");
    height:100%;
}
body {
    background: url("/Content/grid.png"); 
	width: 1300px;
    margin: 0px auto;
    text-align: center;
    min-height:100%;
}
main {
	margin: auto;
}

h1 {
    display: inline-block;
	font-family: 'Lobster', sans-serif;
	font-size: 3em;
}
h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 1.7em;
}
p, li {
	font-family: 'Cuprum', sans-serif;
    font-size: 1.15em;
}
ol {
    list-style: decimal inside none;
}

img {
    max-width: 600px;
    max-height: 600px;
}
img.small {
	height: 250px;
	width: 250px;
	margin: 10px 0px;

    -webkit-box-shadow: 0px 0px 15px 1px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(163,163,163,1);
    box-shadow: 0px 0px 15px 1px rgba(163,163,163,1);
}

.album {
    background: url("/Content/gray_jean.png");
	display: none;
	text-align: left;
	padding: 15px 20px;
	margin: 10px;
    width: 292px;

    -webkit-box-shadow: 0px 0px 15px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(204,204,204,1);
    box-shadow: 0px 0px 15px 1px rgba(204,204,204,1);
}
.album:hover {
    -webkit-box-shadow: 0px 0px 15px 4px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(163,163,163,1);
    box-shadow: 0px 0px 15px 4px rgba(163,163,163,1);
}

input {
    display: block;
}

.album-page {
    max-width: 984px;
	margin: auto;
    text-align: center;
}
.album-page-center {
    display: inline-block;
}
.album-image-big {
    padding: 10px;
    margin: 10px;
    display: inline;
    float: left;
    border: 1px solid #BFBFBF;
	border-radius: 5px;
}
.info {
    width: 300px;
    text-align: left;
    display: inline;
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px solid #BFBFBF;
	border-radius: 5px;
    background: url("/Content/gray_jean.png");
}

a#home {
    text-decoration: none;
    color: #1F1F1F;
}
a#home:hover {
    text-decoration: none;
    color: #B73045;
}

#newAlbum {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}




