<!DOCTYPE html>

<html>
<head>
    <title>Hall of Fame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/Content/reset.css">

    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css" />

    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <link rel="stylesheet" href="/Content/jquery.fancybox.css" type="text/css" media="screen" />
</head>
<body>
    <div class="page-wrap">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" id="home" href="@Url.Action("Index", "Home")">Hall of Fame</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Add", "Album")">Add album<span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer></footer>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.fancybox.pack.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
