@model HallOfFame_dotnet.Models.Track

<tr>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Number, new { @class = "form-control" })
        </div>
    </td>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        </div>
    </td>
    <td>
        <div class="editor-field">
            @Html.TextBoxFor(t => t.Duration, new { @class = "form-control" })
        </div>
    </td>
</tr>