@model HallOfFame_dotnet.Models.Track
           
<div class="track">
    <p>
        <label>@Model.Number</label>
        @Html.TextBoxFor(t => t.Name)
        @Html.TextBoxFor(t => t.Duration)
        @Html.HiddenFor(t => t.Number)
    </p>
</div>

