<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AlbumContext" connectionString="Server=67b303c3-ed25-4db1-9a92-a3ec00d051a8.sqlserver.sequelizer.com;Database=db67b303c3ed254db19a92a3ec00d051a8;User ID=csasfeebsogzzgtr;Password=Yrqg2snZXyw2LfsmsJ7ChCzR2chbDRkhQdvo2TuWEi3VUryMpdKvprGuYGnXjkvf;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="lastfmApi" value="http://ws.audioscrobbler.com/2.0/"/>
    <add key="lastfmKey" value="8bbcae3ac93a6ae30be5d00b796c55b6"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On"/>
  </system.web>
  <entityFramework>
    <contexts>
      <context type="HallOfFame_dotnet.Infrastructure.AlbumContext, HallOfFame_dotnet" disableDatabaseInitialization="true">
        <databaseInitializer type="HallOfFame_dotnet.Infrastructure.AlbumInitializer, HallOfFame_dotnet"/>
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>