@using HallOfFame_dotnet.Models
@model Album
@{
    ViewBag.Title = "Add album";
}

<div class="container">
    @if (ViewBag.IsUserInput)
    {
        using (Html.BeginForm("Add", "Album", FormMethod.Get, new { role = "form" }))
        {
            @Html.EditorForModel()
            <button type="submit" value="Add album" class="btn btn-primary">Add album</button>
        }
    }
    else
    {
        using (Html.BeginForm("Add", "Album", FormMethod.Post, new { role = "form" }))
        {
            @Html.EditorForModel()
            <button type="submit" value="Add album" class="btn btn-primary">Add album</button>

            @section Scripts
            {
                <script type="text/javascript" src="@Url.Content("~/Scripts/showLastfmInfo.js")"></script>
            }
        }
    }
</div>










