@using HallOfFame_dotnet.Models
@model Album
@{
    ViewBag.Title = "Add album";
}

@if (Model == null)
{ 
    using (Html.BeginForm("Create", "Album", FormMethod.Post))
    {
        <p>Artist:</p>@Html.TextBox("artistInput")
        <p>Album name:</p>@Html.TextBox("albumNameInput")
        <input type="submit" value="Create album" />
    }
}
else
{
    <p>Check album information:</p>
    using (Html.BeginForm("Add", "Album", FormMethod.Post))
    {
        <div id="newAlbum">
            @Html.EditorForModel()
        </div>
        
        <input type="submit" value="Add album" />
    }
}

