@model HallOfFame_dotnet.Models.AlbumCreateModel
@{
    ViewBag.Title = "Add album";
}

<div class="container">
    @using (Html.BeginForm("Create", "Album", FormMethod.Post, new { role = "form" }))
    {
        @Html.EditorForModel()
        <button type="submit" value="Add album" class="btn btn-primary">Add album</button>
    }
</div>